@section styles {
    <style>
        .jumbotron {
            margin: 80px 0;
            text-align: center;
        }

            .jumbotron h1 {
                font-size: 7em;
                line-height: 1;
            }

            .jumbotron .lead {
                font-size: 24px;
                line-height: 1.25;
            }

            .jumbotron .btn {
                font-size: 21px;
                padding: 14px 24px;
                color: black;
            }

        header img[alt="CodedHomes"] {
            display: none;
        }
    </style>
}

@section scripts {
    <script>
        $(function () {

            var
                showOnlineLayout = function () {
                    $('.offline').fadeOut(function () {
                        $('.online').fadeIn();
                    });
                },

                showOfflineLayout = function () {
                    $('.online').fadeOut(function () {
                        $('.offline').fadeIn();
                    });
                };

            var offlineUtility = new OfflineUtility(showOnlineLayout, showOfflineLayout);
        });

    </script>
}

	<div class="container">
		<div class="jumbotron">
			<div><img src="~/images/scouter.png" /></div>
			<p class="lead">The Scouter for FRC Competitions</p>

			<div>
				<a class="btn btn-big" href="/FRCEvents">View Our Events</a>
				<a class="btn btn-big" href="/FRCMatches">View Matches</a>
				<a class="btn btn-big" href="/teams">View Teams</a>
				<a class="btn btn-big" href="/Reports/Index/-1/1318">View Reports</a>
				<a class="btn btn-big" href="/Scouting">Scouting</a>
			
		</div>
	</div>
</div>