@model Scouter.Web.ViewModels.ReportViewModel
@{
    Layout = "~/Views/Shared/_LayoutTeams.cshtml";
}

@section scripts {
    <script>
        $(function () {            
            //////////////////////////////////////////////////////////////////
            // MODEL
            var Model = function (jso) {
                var self = this;

                self.currentEventName = ko.observable("@Model.CurrentEventName");
                self.upcomingMatchSeq = ko.observable(jso.upcomingMatchSeq);
                self.nextMatchSeq = ko.observable(jso.upcomingMatchSeq + 1);

                //////////////////////////////////////////////////////////////////////
                // INIT (convert from JSON to KO)
                var initTeam = function (jsoTeam) {
                    var koTeam = ko.observable();

                    if (jsoTeam !== undefined && jsoTeam !== null) {
                        koTeam = ko.observable(jsoTeam);
                        koTeam.team = ko.observable(jsoTeam.team);
                        koTeam.description = ko.observable(jsoTeam.description);
                        koTeam.picture = ko.observable(jsoTeam.picture === null ? '/images/teams/no-image-large.png' : '/images/teams/' + jsoTeam.picture);

                        // Total
                        //   Auto + Teleop: Auto

                        // Autonomous
                        //   Tote Set? TotesStacked
                        koTeam.TotesStacked = ko.observable(jsoTeam.totesStacked);

                        //   Totes Moved [Left : Center : Right]
                        koTeam.TotesMoved = ko.observable(jsoTeam.totesMoved);

                        //   Robot Moved to Auto?
                        koTeam.AutonomousMoved = ko.observable(jsoTeam.autonomousMoved);

                        //   Cluttered Field?
                        koTeam.AutoAttemptClutter = ko.observable(jsoTeam.autoAttemptClutter);

                        // Teleop
                        //   Robot
                        //     Tote Pickup: [Right Chute : Left Chute : Ground]
                        koTeam.TotesPickup = ko.observable(jsoTeam.totesPickup);
                        koTeam.ContainersPickup = ko.observable(jsoTeam.containersPickup);

                        //     Count of Litter Moved to Lanfill [ClearLitter]
                        koTeam.ClearLitter = ko.observable(jsoTeam.clearLitter);

                        //   Human
                        //     Conflict: [ThrowShortOfOwnLandfill + ThrowToOwnLandfill + ThrowToStep : All six Throw events]
                        koTeam.HumanPlayerConflict = ko.observable(jsoTeam.humanPlayerConflict);

                        //   Stack
                        koTeam.StackEfficiancy = ko.observable(jsoTeam.stackEfficiancy);

                        //     List of all stack events over last 4 matches [StartingHeight, NumTotesAdded, IsContainer, IsLitter]
                        koTeam.StartingHeight = ko.observable(jsoTeam.startingHeight);
                        koTeam.NumTotesAdded = ko.observable(jsoTeam.numTotesAdded);
                        koTeam.IsContainerAdded = ko.observable(jsoTeam.isContainerAdded);
                        koTeam.IsLitterAdded = ko.observable(jsoTeam.isLitterAdded);
                    }
                    else {
                        koTeam = ko.observable();
                        koTeam.team = ko.observable();
                        koTeam.picture = ko.observable();
                        koTeam.description = ko.observable();

                        // Autonomous
                        //   Tote Set? TotesStacked
                        koTeam.TotesStacked = ko.observable();

                        //   Totes Moved [Left : Center : Right]
                        koTeam.TotesMoved = ko.observable();

                        //   Robot Moved to Auto?
                        koTeam.AutonomousMoved = ko.observable();

                        //   Cluttered Field?
                        koTeam.AutoAttemptClutter = ko.observable();

                        // Teleop
                        //   Robot
                        //     Tote Pickup: [Right Chute : Left Chute : Ground]
                        koTeam.TotesPickup = ko.observable();
                        koTeam.ContainersPickup = ko.observable();

                        //     Count of Litter Moved to Lanfill [ClearLitter]
                        koTeam.ClearLitter = ko.observable();

                        //   Human
                        //     Conflict: [ThrowShortOfOwnLandfill + ThrowToOwnLandfill + ThrowToStep : All six Throw events]
                        koTeam.HumanPlayerConflict = ko.observable();

                        //   Stack
                        koTeam.StackEfficiancy = ko.observable();

                        //     List of all stack events over last 4 matches [StartingHeight, NumTotesAdded, IsContainer, IsLitter]
                        koTeam.StartingHeight = ko.observable();
                        koTeam.NumTotesAdded = ko.observable();
                        koTeam.IsContainerAdded = ko.observable();
                        koTeam.IsLitterAdded = ko.observable();
                    }

                    return koTeam;
                }

                //////////////////////////////////////////////////////////////////////
                // BLUE
                self.blue1 = initTeam(jso.blue1);
                self.blue2 = initTeam(jso.blue2);
                self.blue3 = initTeam(jso.blue3);

                //////////////////////////////////////////////////////////////////////
                // RED
                self.red1 = initTeam(jso.red1);
                self.red2 = initTeam(jso.red2);
                self.red3 = initTeam(jso.red3);
            }

            //////////////////////////////////////////////////////////////////
            // VIEWMODEL
            var ViewModel = function () {
                var self = this;
                var jsO = teamsDataService.parse('@Html.Raw(Model.IRSMatchesJSON)');
                self.model = new Model(jsO);
            }
            
            var vm = new ViewModel();
            ko.applyBindings(vm);
     });
    </script>
}

<div class="page-header">
    <label data-bind="text: 'Upcoming Match Report for ' + model.currentEventName()"></label>
    <div id="manifeststates" style="width: 25%; height: 10px; margin: 0 auto; display: none;">
        <p id="manifeststatus"></p>
        <progress id="prog" max="100" value="0"></progress>
    </div>
</div>

<style>
    .head {
        border-bottom: 1px solid navajowhite;
    }
    .blue {
        background-color: #010055;
        color: white;
    }
    .bluesm {
        background-color: #010055;
        color: white;
        font-size: x-small;
        vertical-align: middle;
    }
    .red {
        background-color: #5a0000;
        color: white;
    }
    .redsm {
        background-color: #5a0000;
        color: white;
        font-size: x-small;
        vertical-align: middle;
    }
    .endcap {
        border-right: 1px solid navajowhite;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-6">    
            <label data-bind="text: 'Teams Performance prior to match: ' + model.upcomingMatchSeq()"/>
        </div>
        <div class="col-xs-6">
            <a data-bind="attr: { href: '/Reports/UpcomingMatch//' + model.nextMatchSeq() }" class="btn-sm">Next Match</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>The alliances with performace over their last three matches</p>
        </div>
    </div>

    <!-------------------------------------------------------------------------->
    <!-- BLUE HEADER -->
    <div class="row blue head">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1  endcap">
            Tele
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>
    </div>

    <!-- BLUE ROW 1 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label data-bind="text: model.blue1.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.blue1.AutonomousMoved"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.blue1.StackEfficiancy"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label data-bind="text: model.blue2.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.blue2.AutonomousMoved"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.blue2.StackEfficiancy"></label>
        </div>
       
        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label data-bind="text: model.blue3.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.blue3.AutonomousMoved"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.blue3.StackEfficiancy"></label>
        </div>
    </div>

    <!-- BLUE ROW 2 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes Stacked:</label>
            <label class="bluesm" data-bind="text: model.blue1.TotesStacked"></label>
        </div>
        <div class="col-xs-2 endcap">
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes Stacked:</label>
            <label class="bluesm" data-bind="text: model.blue2.TotesStacked"></label>
        </div>
        <div class="col-xs-2 endcap">
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes Stacked:</label>
            <label class="bluesm" data-bind="text: model.blue3.TotesStacked"></label>
        </div>
        <div class="col-xs-2 endcap">
            
        </div>
    </div>

    <!-- BLUE ROW 3 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes/Containers Moved</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.TotesMoved"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.ContainersMoved"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes/Containers Moved</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.TotesMoved"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.ContainersMoved"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes/Containers Moved</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.TotesMoved"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.ContainersMoved"></label>
        </div>
    </div>

    <!-- BLUE ROW 4 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">Cluttered Field?</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.AutoAttemptClutter"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind=""></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">Cluttered Field?</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.AutoAttemptClutter"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind=""></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">Cluttered Field?</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.AutoAttemptClutter"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind=""></label>
        </div>
    </div>

    <!-- BLUE ROW 5 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">truss</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopTrussCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">truss</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopTrussCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">truss</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopTrussCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 6 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">truss catch</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">truss catch</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">truss catch</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopTrussCatchCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 7 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">passes</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopPassesCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">passes</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopPassesCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">passes</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopPassesCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 8 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>
    </div>
    
    <!-- BLUE ROW 9 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">goalbox starts</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">goalbox starts</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">goalbox starts</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopStartedInGoalBoxCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 10 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">robot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">robot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">robot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopBlockedRobotCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 11 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">shot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">shot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">shot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopBlockedShotCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 12 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <label class="bluesm" data-bind="text: model.blue1.description"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <label class="bluesm" data-bind="text: model.blue2.description"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <label class="bluesm" data-bind="text: model.blue3.description"></label>
        </div>
    </div>

    <!-- BLUE ROW 13 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.blue1.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.blue2.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.blue3.picture }" class="img-responsive" width="253" />
        </div>
    </div>

    <!-------------------------------------------------------------------------->
    <!-- RED HEADER -->
    <div class="row red head">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1  endcap">
            Tele
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>
    </div>

    <!-- red ROW 1 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label data-bind="text: model.red1.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.red1.AutonomousMoved"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.red1.StackEfficiancy"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label data-bind="text: model.red2.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.red2.AutonomousMoved"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.red2.StackEfficiancy"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label data-bind="text: model.red3.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.red3.AutonomousMoved"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.red3.StackEfficiancy"></label>
        </div>
    </div>

    <!-- red ROW 2 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes Stacked:</label>
            <label class="bluesm" data-bind="text: model.red1.TotesStacked"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes Stacked:</label>
            <label class="bluesm" data-bind="text: model.red2.TotesStacked"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">Totes Stacked:</label>
            <label class="bluesm" data-bind="text: model.red3.TotesStacked"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>
    </div>

    <!-- red ROW 3 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">Totes/Containers Moved</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.TotesMoved"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.ContainersMoved"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">Totes/Containers Moved</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.TotesMoved"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.ContainersMoved"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">Totes/Containers Moved</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.TotesMoved"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.ContainersMoved"></label>
        </div>
    </div>

    <!-- red ROW 4 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">Cluttered Field?</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.AutoAttemptClutter"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind=""></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">Cluttered Field?</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.AutoAttemptClutter"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind=""></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">Cluttered Field?</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.AutoAttemptClutter"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind=""></label>
        </div>
    </div>

    <!-- red ROW 5 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">truss</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopTrussCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">truss</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopTrussCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">truss</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopTrussCount"></label>
        </div>
    </div>

    <!-- red ROW 6 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">truss catch</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">truss catch</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">truss catch</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopTrussCatchCount"></label>
        </div>
    </div>

    <!-- red ROW 7 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">passes</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopPassesCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">passes</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopPassesCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">passes</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopPassesCount"></label>
        </div>
    </div>

    <!-- red ROW 8 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>
    </div>

    <!-- red ROW 9 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">goalbox starts</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">goalbox starts</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">goalbox starts</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopStartedInGoalBoxCount"></label>
        </div>
    </div>

    <!-- red ROW 10 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">robot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">robot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">robot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopBlockedRobotCount"></label>
        </div>
    </div>

    <!-- red ROW 11 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">shot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">shot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">shot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopBlockedShotCount"></label>
        </div>
    </div>

    <!-- red ROW 12 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <label class="redsm" data-bind="text: model.red1.description"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <label class="redsm" data-bind="text: model.red2.description"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <label class="redsm" data-bind="text: model.red3.description"></label>
        </div>
    </div>

    <!-- red ROW 13 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.red1.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.red2.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.red3.picture }" class="img-responsive" width="253" />
        </div>
    </div>
</div>