@model Scouter.Web.ViewModels.ReportViewModel
@{
    Layout = "~/Views/Shared/_LayoutTeams.cshtml";
}

@section scripts {
    <script>
        $(function () {            
            //////////////////////////////////////////////////////////////////
            // MODEL
            var Model = function (jso) {
                var self = this;

                self.currentEventName = ko.observable("@Model.CurrentEventName");
                self.upcomingMatchSeq = ko.observable(jso.upcomingMatchSeq);
                self.nextMatchSeq = ko.observable(jso.upcomingMatchSeq + 1);

                //////////////////////////////////////////////////////////////////////
                // INIT (convert from JSON to KO)
                var initTeam = function (jsoTeam) {
                    var koTeam = ko.observable();

                    if (jsoTeam !== undefined && jsoTeam !== null) {
                        koTeam = ko.observable(jsoTeam);
                        koTeam.team = ko.observable(jsoTeam.team);
                        koTeam.description = ko.observable(jsoTeam.description);
                        koTeam.picture = ko.observable(jsoTeam.picture === null ? '/images/teams/no-image-large.png' : '/images/teams/' + jsoTeam.picture);
                        koTeam.autonomousOffensiveCountRatio = ko.observable(jsoTeam.autonomousOffensiveCountRatio);
                        koTeam.autonomousOffensiveHiLoRatio = ko.observable(jsoTeam.autonomousOffensiveHiLoRatio);
                        koTeam.autonomousDriveForward = ko.observable(jsoTeam.autonomousDriveForward);
                        koTeam.autonomousStartedInGoalbox = ko.observable(jsoTeam.autonomousStartedInGoalbox);
                        koTeam.autonomousStartedInGoalBoxCount = ko.observable(jsoTeam.autonomousStartedInGoalBoxCount);
                        koTeam.autonomousBlockedRobotCount = ko.observable(jsoTeam.autonomousBlockedRobotCount);
                        koTeam.autonomousBlockedShotCount = ko.observable(jsoTeam.autonomousBlockedShotCount);
                        koTeam.autonomousOffensiveScore = ko.observable(jsoTeam.autonomousOffensiveScore);
                        koTeam.autonomousDefensiveScore = ko.observable(jsoTeam.autonomousDefensiveScore);
                        koTeam.teleopOffensiveCountRatio = ko.observable(jsoTeam.teleopOffensiveCountRatio);
                        koTeam.teleopOffensiveHiLoRatio = ko.observable(jsoTeam.teleopOffensiveHiLoRatio);
                        koTeam.teleopTrussCount = ko.observable(jsoTeam.teleopTrussCount);
                        koTeam.teleopTrussCatchCount = ko.observable(jsoTeam.teleopTrussCatchCount);
                        koTeam.teleopPassesCount = ko.observable(jsoTeam.teleopPassesCount);
                        koTeam.teleopStartedInGoalBoxCount = ko.observable(jsoTeam.teleopStartedInGoalBoxCount);
                        koTeam.teleopBlockedRobotCount = ko.observable(jsoTeam.teleopBlockedRobotCount);
                        koTeam.teleopBlockedShotCount = ko.observable(jsoTeam.teleopBlockedShotCount);
                        koTeam.helperRank = ko.observable(jsoTeam.helperRank);
                        koTeam.offense1Rank = ko.observable(jsoTeam.offense1Rank);
                        koTeam.offense2Rank = ko.observable(jsoTeam.offense2Rank);
                        koTeam.score = ko.observable(jsoTeam.score);
                    }
                    else {
                        koTeam = ko.observable();
                        koTeam.team = ko.observable();
                        koTeam.picture = ko.observable();
                        koTeam.description = ko.observable();
                        koTeam.autonomousOffensiveCountRatio = ko.observable();
                        koTeam.autonomousOffensiveHiLoRatio = ko.observable();
                        koTeam.autonomousDriveForward = ko.observable();
                        koTeam.autonomousStartedInGoalbox = ko.observable();
                        koTeam.autonomousStartedInGoalBoxCount = ko.observable();
                        koTeam.autonomousBlockedRobotCount = ko.observable();
                        koTeam.autonomousBlockedShotCount = ko.observable();
                        koTeam.autonomousOffensiveScore = ko.observable();
                        koTeam.autonomousDefensiveScore = ko.observable();
                        koTeam.teleopOffensiveCountRatio = ko.observable();
                        koTeam.teleopOffensiveHiLoRatio = ko.observable();
                        koTeam.teleopTrussCount = ko.observable();
                        koTeam.teleopTrussCatchCount = ko.observable();
                        koTeam.teleopPassesCount = ko.observable();
                        koTeam.teleopStartedInGoalBoxCount = ko.observable();
                        koTeam.teleopBlockedRobotCount = ko.observable();
                        koTeam.teleopBlockedShotCount = ko.observable();
                        koTeam.helperRank = ko.observable();
                        koTeam.offense1Rank = ko.observable();
                        koTeam.offense2Rank = ko.observable();
                        koTeam.score = ko.observable();
                    }

                    return koTeam;
                }

                //////////////////////////////////////////////////////////////////////
                // BLUE
                self.blue1 = initTeam(jso.blue1);
                self.blue2 = initTeam(jso.blue2);
                self.blue3 = initTeam(jso.blue3);

                //////////////////////////////////////////////////////////////////////
                // RED
                self.red1 = initTeam(jso.red1);
                self.red2 = initTeam(jso.red2);
                self.red3 = initTeam(jso.red3);
            }

            //////////////////////////////////////////////////////////////////
            // VIEWMODEL
            var ViewModel = function () {
                var self = this;
                var jsO = teamsDataService.parse('@Html.Raw(Model.IRSMatchesJSON)');
                self.model = new Model(jsO);
            }
            
            var vm = new ViewModel();
            ko.applyBindings(vm);
     });
    </script>
}

<div class="page-header">
    <label data-bind="text: 'Upcoming Match Report for ' + model.currentEventName()"></label>
    <div id="manifeststates" style="width: 25%; height: 10px; margin: 0 auto; display: none;">
        <p id="manifeststatus"></p>
        <progress id="prog" max="100" value="0"></progress>
    </div>
</div>

<style>
    .head {
        border-bottom: 1px solid navajowhite;
    }
    .blue {
        background-color: #010055;
        color: white;
    }
    .bluesm {
        background-color: #010055;
        color: white;
        font-size: x-small;
        vertical-align: middle;
    }
    .red {
        background-color: #5a0000;
        color: white;
    }
    .redsm {
        background-color: #5a0000;
        color: white;
        font-size: x-small;
        vertical-align: middle;
    }
    .endcap {
        border-right: 1px solid navajowhite;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-xs-6">    
            <label data-bind="text: 'Teams Performance prior to match: ' + model.upcomingMatchSeq()"/>
        </div>
        <div class="col-xs-6">
            <a data-bind="attr: { href: '/Reports/UpcomingMatch//' + model.nextMatchSeq() }" class="btn-sm">Next Match</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>The alliances with performace over their last three matches</p>
        </div>
    </div>

    <!-------------------------------------------------------------------------->
    <!-- BLUE HEADER -->
    <div class="row blue head">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1  endcap">
            Tele
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>
    </div>

    <!-- BLUE ROW 1 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label data-bind="text: model.blue1.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.blue1.autonomousDriveForward"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.blue1.autonomousStartedInGoalbox"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label data-bind="text: model.blue2.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.blue2.autonomousDriveForward"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.blue2.autonomousStartedInGoalbox"></label>
        </div>
       
        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label data-bind="text: model.blue3.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.blue3.autonomousDriveForward"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.blue3.autonomousStartedInGoalbox"></label>
        </div>
    </div>

    <!-- BLUE ROW 2 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">Rank:</label>
            <label class="bluesm" data-bind="text: 'H-' + model.blue1.helperRank()"></label>
            <label class="bluesm" data-bind="text: 'O1-' + model.blue1.offense1Rank()"></label>
            <label class="bluesm" data-bind="text: 'O2-' + model.blue1.offense2Rank()"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">Rank:</label>
            <label class="bluesm" data-bind="text: 'H-' + model.blue2.helperRank()"></label>
            <label class="bluesm" data-bind="text: 'O1-' + model.blue2.offense1Rank()"></label>
            <label class="bluesm" data-bind="text: 'O2-' + model.blue2.offense2Rank()"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">Rank:</label>
            <label class="bluesm" data-bind="text: 'H-' + model.blue3.helperRank()"></label>
            <label class="bluesm" data-bind="text: 'O1-' + model.blue3.offense1Rank()"></label>
            <label class="bluesm" data-bind="text: 'O2-' + model.blue3.offense2Rank()"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>
    </div>

    <!-- BLUE ROW 3 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">goal/miss</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousOffensiveCountRatio"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopOffensiveCountRatio"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">goal/miss</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousOffensiveCountRatio"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopOffensiveCountRatio"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">goal/miss</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousOffensiveCountRatio"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopOffensiveCountRatio"></label>
        </div>
    </div>

    <!-- BLUE ROW 4 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">attempts hi/lo</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousOffensiveHiLoRatio"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopOffensiveHiLoRatio"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">attempts hi/lo</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousOffensiveHiLoRatio"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopOffensiveHiLoRatio"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">attempts hi/lo</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousOffensiveHiLoRatio"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopOffensiveHiLoRatio"></label>
        </div>
    </div>

    <!-- BLUE ROW 5 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">truss</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopTrussCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">truss</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopTrussCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">truss</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopTrussCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 6 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">truss catch</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">truss catch</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">truss catch</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopTrussCatchCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 7 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">passes</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopPassesCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">passes</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopPassesCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">passes</label>
        </div>
        <div class="col-xs-1 bluesm">
            &nbsp;
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopPassesCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 8 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>
    </div>
    
    <!-- BLUE ROW 9 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">goalbox starts</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">goalbox starts</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">goalbox starts</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopStartedInGoalBoxCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 10 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">robot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">robot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">robot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopBlockedRobotCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 11 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="bluesm">shot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue1.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue1.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="bluesm">shot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue2.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue2.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="bluesm">shot blocks</label>
        </div>
        <div class="col-xs-1 bluesm">
            <label data-bind="text: model.blue3.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 bluesm endcap">
            <label data-bind="text: model.blue3.teleopBlockedShotCount"></label>
        </div>
    </div>

    <!-- BLUE ROW 12 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <label class="bluesm" data-bind="text: model.blue1.description"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <label class="bluesm" data-bind="text: model.blue2.description"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <label class="bluesm" data-bind="text: model.blue3.description"></label>
        </div>
    </div>

    <!-- BLUE ROW 13 -->
    <div class="row blue">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.blue1.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.blue2.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.blue3.picture }" class="img-responsive" width="253" />
        </div>
    </div>

    <!-------------------------------------------------------------------------->
    <!-- RED HEADER -->
    <div class="row red head">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1  endcap">
            Tele
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            Team
        </div>
        <div class="col-xs-1">
            Auto
        </div>
        <div class="col-xs-1 endcap">
            Tele
        </div>
    </div>

    <!-- red ROW 1 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label data-bind="text: model.red1.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.red1.autonomousDriveForward"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.red1.autonomousStartedInGoalbox"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label data-bind="text: model.red2.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.red2.autonomousDriveForward"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.red2.autonomousStartedInGoalbox"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label data-bind="text: model.red3.team"></label>
        </div>
        <div class="col-xs-1">
            <label data-bind="text: model.red3.autonomousDriveForward"></label>
        </div>
        <div class="col-xs-1 endcap">
            <label data-bind="text: model.red3.autonomousStartedInGoalbox"></label>
        </div>
    </div>

    <!-- red ROW 2 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">Rank:</label>
            <label class="redsm" data-bind="text: 'H-' + model.red1.helperRank()"></label>
            <label class="redsm" data-bind="text: 'O1-' + model.red1.offense1Rank()"></label>
            <label class="redsm" data-bind="text: 'O2-' + model.red1.offense2Rank()"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">Rank:</label>
            <label class="redsm" data-bind="text: 'H-' + model.red2.helperRank()"></label>
            <label class="redsm" data-bind="text: 'O1-' + model.red2.offense1Rank()"></label>
            <label class="redsm" data-bind="text: 'O2-' + model.red2.offense2Rank()"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">Rank:</label>
            <label class="redsm" data-bind="text: 'H-' + model.red3.helperRank()"></label>
            <label class="redsm" data-bind="text: 'O1-' + model.red3.offense1Rank()"></label>
            <label class="redsm" data-bind="text: 'O2-' + model.red3.offense2Rank()"></label>
        </div>
        <div class="col-xs-2 endcap">
            Offense
        </div>
    </div>

    <!-- red ROW 3 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">goal/miss</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousOffensiveCountRatio"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopOffensiveCountRatio"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">goal/miss</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousOffensiveCountRatio"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopOffensiveCountRatio"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">goal/miss</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousOffensiveCountRatio"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopOffensiveCountRatio"></label>
        </div>
    </div>

    <!-- red ROW 4 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">attempts hi/lo</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousOffensiveHiLoRatio"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopOffensiveHiLoRatio"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">attempts hi/lo</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousOffensiveHiLoRatio"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopOffensiveHiLoRatio"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">attempts hi/lo</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousOffensiveHiLoRatio"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopOffensiveHiLoRatio"></label>
        </div>
    </div>

    <!-- red ROW 5 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">truss</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopTrussCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">truss</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopTrussCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">truss</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopTrussCount"></label>
        </div>
    </div>

    <!-- red ROW 6 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">truss catch</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">truss catch</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopTrussCatchCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">truss catch</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopTrussCatchCount"></label>
        </div>
    </div>

    <!-- red ROW 7 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">passes</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopPassesCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">passes</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopPassesCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">passes</label>
        </div>
        <div class="col-xs-1 redsm">
            &nbsp;
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopPassesCount"></label>
        </div>
    </div>

    <!-- red ROW 8 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            &nbsp;
        </div>
        <div class="col-xs-2 endcap">
            Defense
        </div>
    </div>

    <!-- red ROW 9 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">goalbox starts</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">goalbox starts</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopStartedInGoalBoxCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">goalbox starts</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousStartedInGoalBoxCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopStartedInGoalBoxCount"></label>
        </div>
    </div>

    <!-- red ROW 10 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">robot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">robot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopBlockedRobotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">robot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousBlockedRobotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopBlockedRobotCount"></label>
        </div>
    </div>

    <!-- red ROW 11 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-2">
            <label class="redsm">shot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red1.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red1.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-2">
            <label class="redsm">shot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red2.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red2.teleopBlockedShotCount"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-2">
            <label class="redsm">shot blocks</label>
        </div>
        <div class="col-xs-1 redsm">
            <label data-bind="text: model.red3.autonomousBlockedShotCount"></label>
        </div>
        <div class="col-xs-1 redsm endcap">
            <label data-bind="text: model.red3.teleopBlockedShotCount"></label>
        </div>
    </div>

    <!-- red ROW 12 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <label class="redsm" data-bind="text: model.red1.description"></label>
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <label class="redsm" data-bind="text: model.red2.description"></label>
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <label class="redsm" data-bind="text: model.red3.description"></label>
        </div>
    </div>

    <!-- red ROW 13 -->
    <div class="row red">
        <!-- TEAM 1 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.red1.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 2 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.red2.picture }" class="img-responsive" width="253" />
        </div>

        <!-- TEAM 3 -->
        <div class="col-xs-4 endcap">
            <img data-bind="attr: { src: model.red3.picture }" class="img-responsive" width="253" />
        </div>
    </div>
</div>