<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="localhost;Initial Catalog=ScouterDEV;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ScouterWorkLaptop" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ScouterDev;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ScouterIHSLaptop" connectionString="Data Source=IRS001-PC\SQLEXPRESS;Initial Catalog=ScouterDev;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="ScouterNekoLaptop" connectionString="Data Source=Nephele\Cloud;Initial Catalog=ScouterDev;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="PRESTONLAPTOP" connectionString="Data Source=PRESTONLAPTOP\SQLEXPRESS;Initial Catalog=ScouterDev;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="A4970693" value="ScouterWorkLaptop" />
    <add key="Nephele" value="ScouterNekoLaptop" />
    <add key="IRS001-PC" value="ScouterIHSLaptop" />
    <add key="PRESTONLAPTOP" value ="PRESTONLAPTOP"/>
  </appSettings>
</configuration>