@{
    ViewBag.Title = "Offline";
    Layout = "~/Views/Shared/OfflineLayout.cshtml";
}

<style>
    .no-close .ui-dialog-titlebar-close {
        display: none;
    }
    .submissionfield {
        width: 300px;
        height: 50px;
        border: 1px solid #999999;
        padding: 5px;
    }
</style>

<script>
    $(function () {

        $('#onlinedialog').dialog({
            autoOpen: false,
            modal: true,
            width: 420, height: 350,
            closeOnEscape: false,
            show: { effect: "explode" },
            dialogClass: 'alert',
            dialogClass: 'no-close'
        });

        //////////////////////////////////////////////////////////////////
        // OFFLINE DETECTION
        var isOffline = null,
            goingOffline = function () {
                isOffline = true;
                $('#onlinedialog').dialog("close");
            },
            goingOnline = function () {
                if (isOffline === null) { isOffline = false; return; }
                isOffline = false;
                //$('#onlinedialog').dialog("open");
                //setTimeout(function () { document.location = '/teams/'; }, 5000);
            }

        var offlineUtility = new OfflineUtility(goingOnline, goingOffline);

        //////////////////////////////////////////////////////////////////
        // CACHE DETECTION
        applicationCache.ondownloading = function (e) {
            $('#manifeststatus')[0].textContent = e.type;
            $("#manifeststates").css('display', 'block');
        }

        applicationCache.onprogress = function (e) {
            var percentage = e.loaded / e.total * 100;
            $("#prog").val(percentage);
        };

        var complete = function (e) {
            $('#manifeststatus')[0].textContent = e.type;
            setTimeout(displayNone, 2000);
        }

        var displayNone = function () {
            $("#manifeststates").css('display', 'none');
        }

        applicationCache.oncached = complete;
        applicationCache.onupdateready = complete;
        applicationCache.onerror = complete;
        applicationCache.onobsolete = complete;
        applicationCache.onnoupdate = complete;

        //////////////////////////////////////////////////////////////////
        // KNOCKOUT ID HANDLING
        ko.bindingHandlers.uniqueId = {
            // append a knockout data item (valueAccessor) to the element id
            init: function (element, valueAccessor) {
                var value = valueAccessor();
                element.id = element.id + '-' + value();
            }
        };

        var ViewModel = function () {
            var self = this;
            this.teams = ko.observableArray(teamsDataService.getTeamsLocal()); // client side model is knockout array pulled from local storage

            this.drivetrainTypes = ko.observableArray([
                { Name: 'Mechanum', id: 0 },
                { Name: 'Tank', id: 1 },
                { Name: 'Omniwheel', id: 2 },
                { Name: 'Swerve', id: 3 },
                { Name: 'Ackermann', id: 4 }]);

            this.errorMessage = ko.observable();

            this.teamFilter = ko.observable();

            this.filteredItems = ko.computed(function () {
                var filter = self.teamFilter();
                if (!filter) {
                    return self.teams();
                } else {
                    filter = filter.toLowerCase();
                    return ko.utils.arrayFilter(self.teams(), function (team) {
                        return ko.utils.stringStartsWith(String(team.number()).toLowerCase(), filter);
                    });
                }
            });

            this.showError = function (id, error) {
                vm.errorMessage(error);
                $('#command-buttons-' + id).hide(80, function () {
                    $('#fail-msg-container-' + id).fadeIn("fast", function () {
                        $('#fail-msg-container-' + id).fadeOut(4000, function () {
                            $('#command-buttons-' + id).fadeIn(400);
                        })
                    })
                })
            };

            var showSuccess = function (id) {
                $('#command-buttons-' + id).hide(80, function () {
                    $('#success-msg-container-' + id).fadeIn("fast", function () {
                        $('#success-msg-container-' + id).fadeOut(4000, function () {
                            $('#command-buttons-' + id).fadeIn(400);
                        })
                    })
                })
            };

            this.save = function (team) {
                var id = team.id();

                try {
                    teamsDataService.saveLocal(team);
                    teamsDataService.saveTeamsLocal(ko.toJS(vm.teams));
                    showSuccess(id);
                }
                catch (ex) {
                    showError(ex.description);
                }
            };
        }

        var vm = new ViewModel();

        _.each(vm.teams(), function (team) {
            team.imageUrl = ko.computed(function () {
                var
                    imgName = team.imageName(),
                    fileName = (imgName === null) ? 'no-image.png' : imgName,
                    url = fileName;
                return fileName;
            });
        });

        ko.applyBindings(vm);
    });
</script>

<div class="page-header">
    <p class="lead">Manage Teams</p>
    <div class="row">
        <div class="btn-group pull-right col-md-5">
            <a href="/teams">Go online</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="btn-group pull-right col-md-5">
        <input class="glyphicon glyphicon-search" type="search" placeholder="Team Search" data-bind="value: teamFilter" />
    </div>
</div>

<div id="list-container">
    <div data-bind="template: { name: 'list-template', foreach: filteredItems }"></div>
</div>

<script type="text/html" id="list-template">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3 data-bind="text: 'Team ' + number() + ' - ' + name()" /><br />
                <img data-bind="attr: { src: '/images/teams/' + imageUrl() }" class="img-responsive" width="425" /><br />
            </div>
        </div>
        <form id="data-form" data-bind="uniqueId: id, value: id">
            <!--Team Data-->
            <div class="col-md-6">
                <!--Description-->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Description:</h4>
                    </div>
                    <div class="col-md-8">
                        <textarea id="description"
                               rows="4"
                               class="submissionfield"
                               data-bind="value: description"
                               title="Description"
                               placeholder="Description" />

                    </div>
                </div>
                <!--Drivetrain-->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Drive Train:</h4>
                    </div>
                    <div class="col-md-8" style="padding-top: 5px">
                        <select data-bind="options: $parent.drivetrainTypes, optionsText: 'Name', optionsValue: 'id', value: drivetrain, optionsCaption: 'Choose...'"></select>
                    </div>
                </div>
                <!--WheelCount-->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Wheel Count:</h4>
                    </div>
                    <div class="col-md-8">
                        <input id="WheelCount" name="Wheel Count"
                               data-bind="value: wheelCount"
                               type="text"
                               title="Wheel Count"
                               placeholder="139457613986708 Wheels" />

                    </div>
                </div>
                <!--Length-->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Length:</h4>
                    </div>
                    <div class="col-md-8">
                        <input id="Length" name="Length"
                               data-bind="value: length"
                               type="text"
                               title="Length"
                               placeholder="Over 9000" />

                    </div>
                </div>
                <!--Width-->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Width:</h4>
                    </div>
                    <div class="col-md-8">
                        <input id="Width" name="Width"
                               data-bind="value: width"
                               type="text"
                               title="Width"
                               placeholder="Pretty wide, I guess" />

                    </div>
                </div>
                <!--Height-->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Height:</h4>
                    </div>
                    <div class="col-md-8">
                        <input id="Height" name="Height"
                               data-bind="value: height"
                               type="text"
                               title="Height"
                               placeholder="A tall order!" />

                    </div>
                </div>
                <!--Weight-->
                <div class="row">
                    <div class="col-md-4">
                        <h4>Weight:</h4>
                    </div>
                    <div class="col-md-8">
                        <input id="Weight" name="Weight"
                               data-bind="value: weight"
                               type="text"
                               title="Weight"
                               placeholder="Weight" />
                    </div>
                </div>
                <!--Goalie-->
                <div class="row">
                    <div class="col-md-6">
                        <h4>Can carry a ball:</h4>
                    </div>
                    <div class="col-md-6">
                        <input id="Ball" name="ball"
                               data-bind="checked: ball"
                               type="checkbox"
                               title="Can carry a ball" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div id='command-buttons' data-bind="uniqueId: id, value: id" class="col-md-8 col-xs-8">
                    <div class="pull-right">
                        <button data-bind="click: $parent.save" type="button" class="btn btn-primary btn-lg cmd">Save</button>
                    </div>
                    <hr />
                </div>
            </div>
        </form>


        <!-- Message Containers  TODO (time point 5:26 of chapter 7.6 -->
        <div class="row">
            <div id="success-msg-container" data-bind="uniqueId: id, value: id" class="col-md-8 alert alert-success" style="display: none;">
                <h4>Changes Saved</h4>
                <p>
                    The team information is saved.
                </p>
            </div>
        </div>

        <div class="row">
            <div id="fail-msg-container" data-bind="uniqueId: id, value: id" class="col-md-8 alert alert-danger" style="display: none;">
                <h4>Error</h4>
                <p>
                    Oops, something bad happened! This is what the server had to say about it:
                </p>
                <p data-bind="text: $parent.errorMessage"></p>
            </div>
        </div>
    </div>
</script>

<!--Online Support-->
<div id="onlinedialog" style="background-color: papayawhip; border: solid; display: none;">
    <h2 class="alert-warning">Your Device is now Online</h2>
    <p>You device will now go back to the online page and synchronize any changes.</p>
</div>